<div class="container">
  <h1>Directory Listing</h1>
  <div class="form-group">
    <label for="directoryPath">Directory Path:</label>
    <input type="text" class="form-control" id="directoryPath" [(ngModel)]="path">
    <button class="btn btn-primary mt-2" (click)="getDirectoryListing(path)">Get Listing</button>
  </div>
  <ul class="list-group" *ngIf="directoryListing.length > 0">
    <li *ngFor="let item of directoryListing" class="list-group-item">
      <span *ngIf="item.isDirectory" class="badge bg-primary">Directory</span>
      <span *ngIf="!item.isDirectory" class="badge bg-secondary">File</span>
      <strong>{{ item.filename }}</strong> - Size: {{ item.size | filesize }} - Extension: {{ item.extension }} - Created Date: {{ item.createdDate }} - Permissions: {{ item.permissions }}
    </li>
  </ul>
</div>
